<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>HomePage</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<style>
      .bg-color{
          background-color: rgb(255, 255, 255);
          font-family: Arial, Helvetica, sans-serif;
      }
      .btn-rounded{
          border-radius: 30px;
      }
</style>
</head>
<body class="bg-color">
    <section class="container mt-5">
        <div class="row justify-content-md-center">
            <form class="col-md-6 col-sm-12 bg-white p-5 rounded shadow" action="/employee/validate" method="post">
                <div class="col-12 text-center">
                    <h3 class="text-primary"><strong>LogIn Form</strong></h3>
                </div>
                <div class="mb-3">
                    <label for="Eid" class="form-label">Employee ID</label>
                    <input type="text" class="form-control" id="Eid" name="eid" placeholder="Enter Id">
                </div>
                <div class="mb-3">
                    <label for="edob" class="form-label">Email Date Of Birth</label>
                    <input type="text" onfocus="(this.type='date')" class="form-control" id="edob" name="edob" placeholder="Enter DOB">
                </div>
                <div class="mb-3">
                    <label for="pwd" class="form-label">Password</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter Password">
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-rounded w-75">Log In</button>
                </div>
                <div class="text-center mt-3">
					<a href="/admin/login">Admin LogIn</a>
                </div>
            </form>
        </div>
    </section>
  </body>
</html>